﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="MainPage.aspx.vb" Inherits="MainPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
        <asp:Button ID="btnSignIn" runat="server" Text="Sign In" />
        <asp:Button ID="btnSignUp" runat="server" Text="Sign Up" />
    </form>
</body>
</html>
